/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2015, 6:34:57 PM
    Author     : Jay
*/
.page-header h1{
    margin-bottom: 0;
}
.biLine {
    font-weight: bold;
    text-transform: lowercase;
    font-style: italic;
}